html, body{
	height: fit-content;
	background: linear-gradient(#A2BFEB 0%, #315B9A 77%);
	position:relative;
  overflow: hidden; /* disables scroll */
}

.home{
  position: absolute;
	font-size:22px;
	width: 200px;
	height:200px;
  top: 40px;
  left: 50px;
}

.home img{
  width: 200px;
  height: 200px;
}
.items {
  position: fixed;
  top: 10px;
  width: 100vw;
  display: flex;
  gap: 10px;
  z-index: 100;
  justify-content: center;
}

.items img {
    width: 50px;
    height: 50px;
}
.item {
  width: 70px;
  transition: filter 0.3s ease;
}

.fish {
  position: absolute; /* make sure the element can move */
  animation: swimFish 14s linear infinite;

}


@keyframes swimFish {
  0% {
    left: 100%;
    
  }
  100% {
    left: 0;
  }
}


.swimmer {
  position: absolute;
  left: 0;
  top: 0;
	transition:ease all .4s;
}

.carried-trash {
  animation: wiggle 0.6s infinite ease-in-out alternate;
}

.seaweed {
  animation: wiggle 0.6s infinite ease-in-out alternate;
}
@keyframes wiggle {
  from { transform: rotate(-5deg); }
  to { transform: rotate(5deg); }
}


.nemo {
    position: absolute; 
    animation: nemoSwim 7s ease-in infinite;
    top: 2000px;
}

@keyframes nemoSwim {
0% {
  right: 100%;
}

100% {
  right: 0%;
}
}

.dory {
  position: absolute;
  animation: dorySwim  7s ease-in-out infinite;
  top: 2500px;
}

@keyframes dorySwim {
  0% {
    right: 100% 
  }

  100% {
    right: 0;
  }
}

.fiskVar1 {
  position: absolute;
  animation: fiskVar1Swim 11s linear infinite;
  top: 500px;
}

@keyframes fiskVar1Swim {
    0% {
    right: 100% 
  }

  100% {
    right: 0;
  }
}

.fiskVar2 {
  position: absolute;
  animation: fiskVar2Swim 11.5s linear infinite;
  top: 480px;
}

@keyframes fiskVar2Swim {
    0% {
    right: 100% 
  }

  100% {
    right: 0;
  }
}

.fiskVar3 {
  position: absolute;
  animation: fiskVar3Swim 12s linear infinite;
  top: 520px;
}

@keyframes fiskVar3Swim {
    0% {
    right: 100% 
  }

  100% {
    right: 0;
  }
}







